.button {
  border-radius: 6px;
  padding: 8px 30px;
  font-family: inherit;
  cursor: pointer;
  transition: backgorund 0.25s;
  font-size: 16px;
  border: none;
}
.accent:hover {
  background: #646cff;
}

.accent {
    background: #312EB5;
}